.button {
  background: yellowgreen;
  padding: 10px 20px;
  border-radius: 5px;

  span {
    color:indigo;
    text-transform: uppercase;
  }
  

}

.value{
  font-size: 80px;
}

img {
  width: 48%;
  min-width: 300px;
  max-width: 500px;
}